// .first-color { 
// 	background: #233142; 
// }
	
// .second-color { 
// 	background: #455d7a; 
// }

// .third-color { 
// 	background: #f95959; 
// }

// .fourth-color { 
// 	background: #e3e3e3; 

/*-- scss:defaults --*/
$body-bg: #233142;
$body-color: #e3e3e3;

// Navbar
// $navbar-bg: #233142;
$navbar-bg: #455d7a;


$font-family-sans-serif: 'Libre Baskerville', serif;
// font-family: 'Lato', sans-serif;

$h1-font-size: 4em;
$h2-font-size: 2em;
$h3-font-size: 1em;
$h4-font-size: 0.5em;
$h5-font-size: 0.25em;

/*-- scss:rules --*/

/*-- scss:mixins --*/

/*-- scss:functions --*/

/*-- scss:uses --*/


