/*-- scss:defaults --*/
:root {
    --animate-delay: 0.5s;
}

/*-- scss:rules --*/
body {
    background-image: url("assets/img/succulent_right_wall.png");
    background-repeat: no-repeat;
    background-size: 280px; 
    background-position: bottom right;
    background-position-y: 175px;
}

.sidebar.sidebar-navigation:not(.rollup) {
    border-right: none !important;
}

#quarto-sidebar {
    background-color: #FFF;
    div.sidebar-item-container:hover, 
    div.sidebar-item-container:focus {
        color: #545555;
    }
    a.sidebar-item-text {
        position: relative;
        text-decoration: none;
    }
    a.sidebar-item-text::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #D5DEA4;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }
    a.sidebar-item-text:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
}

// transition link hovers
a {
    transition: 0.4s;
    -webkit-transition: 0.4s;
}

.quarto-grid-item {
    transition: 0.4s;
    -webkit-transition: 0.4s;
    border-radius: 5px;
    .post-contents {
        border-radius: 5px;
    }
    .card-body {
        background-color: #f6f5f1;
    }
    .card-img-top > img{
        border-radius: 5px 5px 0 0;
    }
    &:hover {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        transform: scale(1.01);
    }
}

// customize colors for LinkedIn and Github tool links
.sidebar-title .sidebar-tools-main {
    a.sidebar-tool[title="LinkedIn"]:hover {
        color: #0077B5;
    }
    a.sidebar-tool[title="Github"]:hover {
        color: #000000;
    }
    display: inherit;
}

